- require 'json'

%h1.mb-4
  RedCarpet

= simple_form_for(@movie_result, url: movie_result_index_path(@movie_result), :validation => true) do |f|
  .col-md-9.col-xs-12
    .row.mb-2
      .col-sm-8
        = f.input :movie_title, label: "Buscar Pelicula o serie"
  .btn.btn-primary
    = f.submit "Buscar", class: "btn btn-primary"

- if params[:json_meta]
  %table.px-2{:border => 1}
    %tbody
      %tr
        %td MetaCritic
        %td Synopsis
        %td Rank
      - meta_critic_result = params[:json_meta]
      %tr
        %td
          %img{src: meta_critic_result[:poster]}
        %td=meta_critic_result[:synopsis]
        %td=meta_critic_result[:rank]
    %br

  %table.px-2{:border => 1}
    %tbody
      %tr
        %td RottenTomatoes
        %td Synopsis
        %td Review Links 
        %td Ratings Links
      - rotten_tomatoes_scores = params[:json_rotten][:score_board]
      - rotten_tomatoes_synopsis = params[:json_rotten][:synopsis]
      %tr
        %td
          %img{src: meta_critic_result[:poster]}
        %td=rotten_tomatoes_synopsis
        %td
          %a{href: "https://www.rottentomatoes.com#{rotten_tomatoes_scores[:reviews_links]}", target: "_blank"}
            Review link
        %td
          %a{href: "https://www.rottentomatoes.com#{rotten_tomatoes_scores[:ratings_link]}", target: "_blank"}
            Rating link
    %br

  %table.px-2{:border => 1}
    %tbody
      %tr
        %td IMDB
        %td Userscore
        %td Metascore
      - imdb_result = params[:json_imdb]
      %tr
        %td
          %img{src: meta_critic_result[:poster]}
        %td=imdb_result[:user]
        %td=imdb_result[:output]
    %br